/* CartWidget */

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.cart-invisible {
    visibility: hidden;
    opacity: 0;
}

.cart i {
    font-size: 25px;
    position: absolute;
    z-index: 1;
    transition: all .5s;
}

.cart > .bxs-cart-alt, .cart:hover > .bx-cart-alt {
    visibility: hidden;
    opacity: 0;
}

.cart:hover > .bxs-cart-alt {
    visibility: visible;
    opacity: 1;
}

.notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: lightcoral;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    font-size: 12px;
    position: absolute;
    z-index: 5;
    top: 5px;
    right: 3px;
    user-select: none;
}